*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(246, 246, 246); */
  
  }
  
  /* role */
  .form-select{
       width: 259px;
      margin-bottom: 20px;
  }
  
  .accont-page{
    margin-top: 70px;
  }
  
  
  
  body{
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Roboto Serif', serif;
  }
  
  
  .container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  
  
  }
  .col-2{
    flex-basis: 50%;
    max-width: 3000px;
  }
  .col-2 img{
    max-width: 100%;
    padding: 50px 0;
  }
  
  .col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  }
  .btn{
    display: inline-block;
    background-color: rgb(138, 194, 253);
    color: rgb(248, 248, 248);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
  }
  .btn:hover{
    background-color:rgb(155, 117, 243);
  
  }
  
  
  .form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
  }
  .form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #601a1a;
    cursor: pointer;
    width: 100px;
    display: inline-block;
  }
  
  .form-btn{
    display: inline-block;
  
  }
  .form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: 1s;
  
  }
  form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
  }
  form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
  }
  form .btn:focus{
    outline: none;
  }
  #loginForm{
    left: -300px;
  }
  #studentRegistrationForm{
    left: 0;
  }
  form a{
    font-size: 12px;
  }
  #indicator{
    width: 100px;
    border: none;
    background:  rgb(138, 194, 253);
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: 1s;
  }
  
  /* media query for less than 600 screen size */
  @media screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2{
        flex-basis: 80%;
    }
    .btn{
        margin: 15px 0;
    }
   
    .row{
        flex-direction: column;
    }
    .row-2{
        flex-direction: row;
    }
  
  }